<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>

    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
  </appSettings>
  <connectionStrings>
    <add name="connection" connectionString="server=ATUL-PC;database=BHCS;uid=sa;pwd=atul" />
    <add name="BHCSConnectionString" connectionString="Data Source=ATUL-PC;Initial Catalog=BHCS;Persist Security Info=True;User ID=sa;Password=atul"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
